#!/bin/bash

export CAPISTRANO_DIR=$HOME/medusa-cr-capistrano

export RAILS_ENV=development
export MEDUSA_DIR=$HOME/medusa
export MEDUSA_HOME=$HOME/medusa

export MEDUSA_STORAGE=/media/medusa
export DATABANK_STORAGE=/media/databank

export BACKUP_STORAGE_ROOT=$MEDUSA_STORAGE/backup
export BACKUP_GLACIER_ROOT=$HOME/medusa-glacier
export BACKUP_MEDUSA_SHARED_ROOT=$CAPISTRANO_DIR/shared

export FITS_BATCH_SIZE=20000
export FITS_SERVER_HOME=$HOME/ruby-fits-server
export FITS_SERVER_HOME_2=$HOME/ruby-fits-server-2

export FIXITY_BATCH_SIZE=20000
export FIXITY_SERVER_HOME=$HOME/medusa-fixity

export GLACIER_HOME=$HOME/medusa-glacier

export MONIT_CONTACT="mfall3@illinois.edu"
export MONIT_MAILSERVER="express-smtp.cites.uiuc.edu"
export USER=medusa

