#!/bin/bash

export CAPISTRANO_DIR=$HOME/medusa-cr-capistrano

export RAILS_ENV=production
export MEDUSA_DIR=$HOME/medusa
export MEDUSA_HOME=$HOME/medusa

export MEDUSA_STORAGE=/media/medusa
export DATABANK_STORAGE=/media/databank

export BACKUP_STORAGE_ROOT=$MEDUSA_STORAGE/backup
export BACKUP_GLACIER_ROOT=$HOME/medusa-glacier
export BACKUP_MEDUSA_SHARED_ROOT=$CAPISTRANO_DIR/shared

export FITS_BATCH_SIZE=20000
export FITS_SERVER_HOME=$HOME/ruby-fits-server
export FITS_SERVER_HOME_2=$HOME/ruby-fits-server-2

export FIXITY_BATCH_SIZE=20000
export FIXITY_SERVER_HOME=$HOME/medusa-fixity

export GLACIER_HOME=$HOME/medusa-glacier

export MONIT_CONTACT="hding2@illinois.edu"
export MONIT_MAILSERVER="express-smtp.cites.uiuc.edu"
export USER=medusa

#rclone should be configured to have this remote. We should eventually
#be able to do that with IAM roles and in that case to simply 
#copy a correct config file. For now, do by hand. 
export RCLONE_REMOTE=medusa-user
export RCLONE_BUCKET=medusa-main
export RCLONE_MOUNTPOINT="$HOME/mnt/$RCLONE_BUCKET-ro"
export RCLONE_PIDDIR=$HOME/run
export RCLONE_PIDFILE=$RCLONE_PIDDIR/rclone.pid
